In [1]:
import numpy as np
import pandas as pd
from torch.utils.data.datapipes.dataframe.dataframe_wrapper import get_item

In [217]:
data_all = pd.read_csv("/Users/holee/Desktop/test.csv")

In [218]:
data_all.head(2)

        text_id                                          full_text
0  0000C359D63E  when a person has no experience on a job their...
1  000BAD50D026  Do you think students would benefit from being...

In [219]:
data_all_text = data_all["full_text"]
data_all_text

0    when a person has no experience on a job their...
1    Do you think students would benefit from being...
2    Thomas Jefferson once states that "it is wonde...
Name: full_text, dtype: object

In [220]:
def del_word_noise(x):
    aa = np.char.replace([x],"."," ").tolist()
    aa =np.char.replace(aa,"\n"," ").tolist()
    aa =np.char.replace(aa,","," ").tolist()
    return aa

In [221]:
data_all["qingxi_hou_text"] = data_all["full_text"].apply(del_word_noise)

In [226]:
fencihou = []
for i in data_all["qingxi_hou_text"]:
    fencihou.append(" ".join(i).split(" "))

In [237]:
all_words = sum(fencihou, [])##将很多[[1,2],[3,4]]转换为一个list[1,2,3,4]
#data = [[[1,2],[3,4]], [[1,2],[3,4]]]#sum(sum(data,[]),[])

In [286]:
def get_itemsss(X):
    if isinstance(X, list):
        for i,j in enumerate(data):
            print(get_itemsss(i),get_itemsss(j))

In [280]:
for i,j in enumerate(data):
    print(i,j)

0 [[1, 2], [3, 4]]
1 [[1, 2], [3, 4]]

In [239]:
diction_list = list(set(all_words))

In [271]:
dictionary = enumerate(diction_list)

In [258]:
fenkai_konnma_list = []
for i in data_all["qingxi_hou_text"]:
     fenkai_konnma_list.append(i[0].split(" "))

In [261]:
data_all["split_text"] = fenkai_konnma_list

In [262]:
def shuzi_transfor(x):
    number_sentences = []
    for i in x:
        for idx, val in enumerate(all_words):##enumerate(without_all)已经创建的字典
            if i == val:
                number_sentences.append(idx)
    return number_sentences

In [263]:
data_all["number_shentense"] = data_all["split_text"].apply(shuzi_transfor)

In [266]:
data_processed = data_all.drop(["full_text", "qingxi_hou_text"], axis=1)

In [267]:
data_processed

,text_id,split_text,number_shentense
0,0000C359D63E,"[when, a, person, has, no, experience, on, a, ...","[0, 394, 531, 595, 964, 971, 1185, 1299, 1397,..."
1,000BAD50D026,"[Do, you, think, students, would, benefit, fro...","[876, 19, 26, 33, 96, 107, 113, 122, 127, 132,..."
2,00367BB2546B,"[Thomas, Jefferson, once, states, that, ""it, i...","[1285, 1286, 1287, 1288, 393, 663, 945, 980, 1..."

In [ ]:
numbers = [4, -1, 0, 7, -5, 9]

for num in numbers:
    if num <= 0:
        # 如果是负数或零，直接跳过，不进行后续处理
        continue
    if 10 < num <100:
            square = num ** 2